.car-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 24px;
  max-width: 1200px;
  margin: 0 auto;
}

#suchleiste {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: center;
  padding: 1rem;
  padding-left: 3rem;
  padding-right: 3rem;
  background-color: #f8f9fa;
  border-radius: 10px;
}

.input-group{
  position: relative;
}

.input-group,
.form-group {
  display: flex;
  padding-right: 25px;
  flex-direction: column;
  min-width: 150px;
  flex: 1;
}

.input-group input,
.form-group input {
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
  width: 100%;
  white-space: nowrap;
  overflow-x: auto;
  text-overflow: ellipsis;
}

.input-group input:focus,
.form-group input:focus {
  text-overflow: unset;
}

.autocomplete-list {
  position: absolute;
  top: 100%; /* direkt unter dem Input */
  left: 0;
  right: 0;
  background: white;
  border-top: none;
  max-height: 150px;
  overflow-y: auto;
  z-index: 1000;
  width: 100%; /* gleiche Breite wie das Input-Feld */
  box-sizing: border-box;
}

.autocomplete-item {
  padding: 0.5rem;
  border: 1px solid #ccc;
  cursor: pointer;
}

.autocomplete-list div {
  padding: 8px;
  cursor: pointer;
}

.autocomplete-list div:hover {
  background-color: #f0f0f0;
}

.submit-btn {
  padding: 10px 20px;
  background-color: #ff6600;
  color: white;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  height: 42px;
  align-self: flex-end;
}

.submit-btn:hover {
  background-color: #ff6600;
}

.filterleiste {
  display: flex;
  gap: 1rem;
  margin: 20px 0;
  flex-wrap: wrap;
}

.filterleiste select {
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
  min-width: 160px;
}

#filter-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 1rem;
  place-content: center;
}

.dropdown-multi {
  position: relative;
}

.dropdown-toggle {
  padding: 10px 15px;
  background: rgb(17, 17, 17);
  color: white;
  border-radius: 999px;
  cursor: pointer;
  font-weight: bold;
}

.dropdown-toggle .count {
  margin-left: 5px;
}

.dropdown-options {
  display: none;
  position: absolute;
  top: 110%;
  left: 0;
  background: white;
  border-radius: 10px;
  box-shadow: 0 2px 12px rgb(17, 17, 17);
  z-index: 10;
  width: 220px;
  padding: 10px;
}

.dropdown-multi.open .dropdown-options {
  display: block;
}

.dropdown-options div {
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  background: #f2f2f2;
}

.dropdown-options div.selected {
  background: rgb(17, 17, 17);
  color: white;
}

.car-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.35);
}